.bot-wrap {
    margin: 35px 0;
    padding: 36px 30px;
}
.bot-info {
    padding: 0 70px;
}
.bot-info h5 {
    margin: 0 0 16px;
    color: var(--green-text);
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}
.bot-info p {
    margin: 0;
    color: rgba(42, 41, 41, 0.7);
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 21px;
}
