@media screen and (max-width: 1278px) {
    /* For mobile > ???: */
    .content-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .left {
        padding: 25px 15px;
        width: 100%;
        height: fit-content;
    }
    .right {
        padding: 25px 15px;
        width: 100%;
    }
    .footer {
        display: block;
    }
}